---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import StatCard from '../components/Statcard.astro';
import ActionButton from '../components/ActionButton.astro';
import '../styles/style.css';

const base = import.meta.env.BASE_URL;
---

<DashboardLayout>
  <section class="content">
    <h2>Bienvenido, Profesor Iván Ruiz Vargas</h2>

    <div class="stats">
      <StatCard label="Grupos registrados" value="3" />
      <StatCard label="Prácticas activas" value="5" />
      <StatCard label="Alumnos activos" value="120" />
    </div>

    <div class="actions">
      <ActionButton href="#" icon={`${base}assets/cargar.png`} label="Cargar grupo (Excel)" />
      <ActionButton href="#" icon={`${base}assets/formacion.png`} label="Asignar práctica" />
    </div>
  </section>
</DashboardLayout>
