---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import Alumno from '../components/Alumnos/Alumnos.jsx'; // Asegúrate que esta ruta sea correcta
---

<DashboardLayout pageTitle="Alumnos"->
  <section class="content">
    <Alumno client:load />
  </section>
</DashboardLayout>
