---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import Alumno from '../components/Alumnos/Alumnos.jsx';
---

  <DashboardLayout pageTitle="Alumnos">
    <section class="content">
      <Alumno client:load />
    </section>
  </DashboardLayout>
