---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import TablaUsuarios from '../components/Alumnos/TablaUsuarios.jsx'; // Asegúrate que esta ruta sea correcta
---

<DashboardLayout pageTitle="Inicio">
  <section class="content">
    <TablaUsuarios client:load />
  </section>
</DashboardLayout>
