---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import AsignarPracticas from '../components/Alumnos/AsignarPracticas.jsx';
import { requireAuth } from "../lib/authGuard";

const authResult = await requireAuth(Astro);

if (authResult instanceof Response) {
  return authResult;
}
---

  <DashboardLayout pageTitle="Asignar">
  <section class="content">
    <AsignarPracticas client:load />
  </section>
</DashboardLayout>


