---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import GestionGrupo from '../components/Alumnos/GestionGrupo.jsx';
import { requireAuth } from "../lib/authGuard";

const authResult = await requireAuth(Astro);
if (authResult instanceof Response) return authResult;
---

<DashboardLayout pageTitle="GestionGrupo">
  <section class="content">
    <GestionGrupo client:load />
  </section>
</DashboardLayout>
