---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import CargaGrupo from '../components/Alumnos/Cargar_Grupo';
---

<DashboardLayout pageTitle="CargarGrupo">
  <section class="content">
    <CargaGrupo client:load />
  </section>
</DashboardLayout>
