---
export const prerender = false;  // SSR
import "../styles/login.css";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/Dashboard");
}
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login - Dashboard</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  </head>

  <body>
    <div class="login-wrapper">
      <div class="login-container">
        <div class="login-card">
          <h1 class="login-title">Sign in</h1>

          <form class="login-form" action="/api/auth/signin" method="post">
            <label>
              Email
              <input type="email" name="email" required />
            </label>

            <label>
              Password
              <input type="password" name="password" required />
            </label>

            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
