---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import Practica from '../components/Alumnos/Practicas.jsx';
import { requireAuth } from "../lib/authGuard";

const authResult = await requireAuth(Astro);

// ⬇️ SI requireAuth devolvió un Response (redirect),
// lo regresamos y Astro YA NO sigue renderizando la página.
if (authResult instanceof Response) {
  return authResult;
}

// ⬇️ Si llegamos aquí, tenemos usuario válido
---


  <DashboardLayout pageTitle="Practica">
    <section class="content">
      <Practica client:load />
    </section>
  </DashboardLayout>


