---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/style.css';
import Practica from '../components/Alumnos/Practicas.jsx';
---

<DashboardLayout pageTitle="Practica">
  <section class="content">
    <Practica client:load />
  </section>
</DashboardLayout>
