---
// Obtener la ruta actual que esta en la pagina
const currentPath = Astro.url.pathname;

const navItems = [
  { href: '/Dasboard_PT', icon: '/Dasboard_PT/assets/inicio.png', label: 'Inicio' },
  { href: '/Dasboard_PT/Asignar', icon: '/Dasboard_PT/assets/asignar.png', label: 'Asignar' },
  { href: '/Dasboard_PT/Alumnos', icon: '/Dasboard_PT/assets/alumno.png', label: 'Alumnos' },
  { href: '/Dasboard_PT/Cargar-grupo', icon: '/Dasboard_PT/assets/cargando.png', label: 'Cargar grupo' },
];
---

<div class="sidebar">
  <div class="sidebar-title">
    <img src="assets/icon.png" alt="icono" class="icon" />
    Dashboard
  </div>
  <nav>
    {navItems.map(({ href, icon, label }) => (
      <a
        href={href}
        class={`nav-item ${currentPath === href ? 'active' : ''}`}
      >
        <img src={icon} class="icon" />
        {label}
      </a>
    ))}
  </nav>
</div>
