<div class="sidebar">
  <div class="sidebar-title">
    <img src="/public/assets/icon.png" alt="icono" class="icon" />
    Dashboard
  </div>
  <nav>
    <a href="/" class="nav-item active">
      <img src="/public/assets/inicio.png" class="icon" />
      Inicio
    </a>
    <a href="/asignar" class="nav-item">
      <img src="/public/assets/asignar.png" class="icon" />
      Asignar
    </a>
    <a href="/alumnos" class="nav-item">
      <img src="/public/assets/alumno.png" class="icon" />
      Alumnos
    </a>
    <a href="/cargar-grupo" class="nav-item">
      <img src="/public/assets/cargando.png" class="icon" />
      Cargar grupo
    </a>
  </nav>
</div>
