---
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro';
---

<div class="container">
  <Sidebar />
  <main class="main">
    <Topbar />
    <slot />
  </main>
</div>
