---
import Sidebar from '../components/Sidebar.astro';
import Topbar from '../components/Topbar.astro';
---
<head>
  <meta charset="UTF-8" />
  <title>Dashboard - Profesor</title>
    <link rel="icon" type="image/png" href="favicon.png"  />
</head>

<div class="container">
  <Sidebar />
  <main class="main">
    <Topbar />
    <slot />
  </main>
</div>
